<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <div>
        <form action="/profile" method="DELETE">
            <input class="button" type="submit" value="Delete User" />
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">User_Name</th>
                <th scope="col">Password</th>
            </tr>
            <% data.forEach(function(d){ %>
            <tr>
                <td></td>
                <td><%= d.user_game_id %></td>
                <td><%= d.user_name %></td>
                <td><%= d.user_password %></td>
            </tr>
            <% }) %>
        </thead>
    </table>
</body>

</html>