<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Sign Up Page</title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: pink;
        }
    </style>
</head>

<body>
    <center>
        <h1>Sign Up Here!</h1>
    </center>
    <div class="container">
        <div class="">
            <form action="/signup" method="POST">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                    <input type="text" name="signuser" placeholder="username" required />
                </div>
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                    <input type="password" name="signpassword" placeholder="Password" required />
                </div>
                <input class="button" type="submit" value="Register" />
            </form>
            <div>
                <a href="/login"> <input type="button" value="back to login"></a>
            </div>
        </div>
    </div>
</body>

</html>