<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="home/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Screen</title>
</head>

<body>
    <section id="background1">
        <div
            style="display: flex; justify-content: space-between; color: white; padding: 32px; height: 10px; background-color: black; opacity: 0.6;">
            <div class="logo" style="margin-right: 200px; font-size: 28px; margin-top: -20px; font-weight: bold;">
                LOGO
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-right: 300px;">
                <div class="home">
                    Home
                </div>
                <div style="width: 35px;">
                </div>
                <div>
                    Work
                </div>
                <div style="width: 35px;">
                </div>
                <div>
                    Content
                </div>
                <div style="width: 35px;">
                </div>
                <div>
                    About Me
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-right: 100px;">
                <div class="login">
                    <a href="/profile">Profile</a>
                    <a href="/signup">Sign Up</a>
                </div>
                <div style="width: 35px;">
                </div>
                <div>
                    <a href="/login"><%= username || "LOGIN" %></a>
                </div>
            </div>
        </div>
        <div class="background1-text">PLAY TRADITIONAL GAME</div>
        <div class="background1-text1">Experience new traditional game play</div>
        <div class="background1-text2"><a href="/suit"><button>PLAY NOW</button></a></div>
        <div class="background1-text3">THE STORY</div>
        <img src="https://img.icons8.com/material-outlined/24/000000/sort-down.png"/
            style="margin-top: 515px; margin-left: 619px;">
    </section>
    <section id="background2">
        <div class="background2-text">What's so special?</div>
        <div class="background2-text1">THE GAMES</div>
        <div id="carousel-game">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="home/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="home/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="home/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    </section>
    <section id="background3">
        <div class="background3-circle"></div>
        <div class="background3-line"></div>
        <div class="background3-circle1"></div>
        <div class="background3-circle2"></div>
        <div class="background3-text">What's so special?</div>
        <div class="background3-text1">FEATURES</div>
        <div class="background3-text2">TRADITIONAL GAMES</div>
        <div class="background3-text3">If you miss your childhood, we provide</div>
        <div class="background3-text4">many traditonal games here</div>
        <div class="background3-text5">GAME SUIT</div>
        <div class="background3-text6">TBD</div>
    </section>
    <section id="background4">
        <div class="background4-text">SYSYEM</div>
        <div class="background4-text1">REQUIREMENTS</div>
        <div class="background4-text2">Can My Computer Run This Games?</div>
        <div class="container" style="margin-left: 50px;">
            <div class="row" style="width: 500px; height: 300px;">
                <div class="col-6"
                    style="border-top: 1px solid white; border-bottom: 1px solid white; border-left: 1px solid white; color: orange; padding: 16px;">
                    OS:
                    <div style="color: whitesmoke;">Windows 7 64-bit only</div>
                    <div style="color: whitesmoke;">(NO OSX support at this time)</div>
                </div>
                <div class="col-6" style="border-bottom: 0px; border: 1px solid white; color: orange; padding: 16px;">
                    PROCESSOR:
                    <div style="color: whitesmoke;">Intel Core 2 Duo @2.4 GHZ or</div>
                    <div style="color: whitesmoke;">AMD Athlon X2 @2.8 GHZ</div>
                </div>
                <div class="col-6"
                    style="border-left: 1px solid white; border-right: 1px solid white; color: orange; padding: 16px;">
                    MEMORY:
                    <div style="color: whitesmoke;">4 GB RAM</div>
                </div>
                <div class="col-6" style="border-right: 1px solid white; color: orange; padding: 16px;">
                    STORAGE:
                    <div style="color: whitesmoke;">8 GB available space</div>
                </div>
                <div class="col-12" style="padding: 16px; border: 1px solid white; color: orange;">
                    GRAPHICS:
                    <div style="color: whitesmoke;">NVIDIA GeForce GTX 600 2GB or</div>
                    <div style="color: whitesmoke;">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</div>
                </div>
            </div>
        </div>
    </section>
    <section id="background5">
        <div class="background5-text">TOP SCORES</div>
        <div class="background5-text1">This top score from various games provided</div>
        <div class="background5-text2">on this platform</div>
        <div class="background5-text3"><button>See more</button></div>
        <div class="box1-background5">
            <img src="home/img/evan-lahti.jpg"
                style="border-radius: 100px; margin-left: 10px; margin-top: 5px; width: 60px; height: 60px;">
            <img src="home/img/twitter.svg" style="margin-left: 290px; margin-top: -10px;">
            <div style="margin-top: -60px; margin-left: 90px; color: orange; font-size: 24px;">Evan Lahti</div>
            <div style="margin-top: -5px; margin-left: 90px; color: white; font-size: 12px;">PC Gamer</div>
            <div style="margin-top: 40px; margin-left: 10px; color: white;">"One of my gaming highlights of the year."
            </div>
            <div style="margin-left: 10px; color: darkgray;">October 18,2018</div>
        </div>
        <div class="box2-background5">
            <img src="home/img/jada-griffin.jpg"
                style="border-radius: 100px; margin-left: 10px; margin-top: 5px; width: 60px; height: 60px;">
            <img src="home/img/twitter.svg" style="margin-left: 290px; margin-top: -10px;">
            <div style="margin-top: -60px; margin-left: 90px; color: orange; font-size: 24px;">Jada Griffin</div>
            <div style="margin-top: -5px; margin-left: 90px; color: white; font-size: 12px;">Nerdreactor</div>
            <div style="margin-top: 20px; margin-left: 10px; color: white;">"The next big thing in the world of
                streaming and survival games."</div>
            <div style="margin-left: 10px; color: darkgray;">December 21,2018</div>
        </div>
        <div class="box3-background5">
            <img src="home/img/aaron-williams.jpg"
                style="border-radius: 100px; margin-left: 10px; margin-top: 5px; width: 60px; height: 60px;">
            <img src="home/img/twitter.svg" style="margin-left: 290px; margin-top: -10px;">
            <div style="margin-top: -60px; margin-left: 90px; color: orange; font-size: 24px;">Aaron Williams</div>
            <div style="margin-top: -5px; margin-left: 90px; color: white; font-size: 12px;">Uproxx</div>
            <div style="margin-top: 15px; margin-left: 10px; color: white;">"Snoop Dogg Playing The Wildly Entertaining
                'SOS' is Ridiculous."</div>
            <div style="margin-left: 10px; color: darkgray;">December 24,2018</div>
        </div>
    </section>
    <section id="background6">
        <img src="home/img/skull.jpg"
            style="margin-top: 50px; margin-left: 250px; width: 300px; height: 450px; position: absolute;">
        <div class="background6-text">Want to stay in</div>
        <div class="background6-text1">touch?</div>
        <div class="background6-text2">NEWSLETTER</div>
        <div class="background6-text3">SUBSCRIBE</div>
        <div class="background6-text4">
            In order to start receiving our news, all you have to do is enter your email
            address. Everything else will be taken care of by us. We will send you emails
            containing information about game. We don’t spam.</div>
        <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email" placeholder="youremail@binar.co.id"
            style="position: absolute; width: 340px; height: 50px; margin-top: 370px; margin-left: 600px;" />
        <div style="color: white; font-size: 12px; margin-left: 10px; margin-top: 5px; 
                position: absolute; margin-top: 372px; margin-left: 615px; font-weight: bold;">Your email address</div>
        </div>
        <div class="background6-button"><button>Subscribe Now</button></div>
        <div class="background6-text7">&copy; 2018 Your Games, Inc.All Right Reserved</div>
        <div
            style="display: flex; position: absolute; color: white; justify-content: space-between; align-items: center; margin-left: 870px; margin-top: 600px; font-size: 12px;">
            <div class="privacy">
                PRIVACY POLICE
            </div>
            <div style="width: 12px;">
            </div>
            <div>
                TERMS OF SERVICES
            </div>
            <div style="width: 12px;">
            </div>
            <div>
                CODE OF PRODUCT
            </div>
        </div>
        <div
            style="display: flex; position: absolute; color: white; justify-content: space-between; align-items: center; margin-left: 310px; margin-top: 550px; font-size: 14px;">
            <div class="main" style="margin-right: 30px;">
                MAIN
            </div>
            <div style="width: 12px;">
            </div>
            <div>
                ABOUT
            </div>
            <div style="width: 12px;">
            </div>
            <div style="margin-left: 30px;">
                GAME FEATURES
            </div>
            <div style="width: 12px;">
            </div>
            <div style="margin-left: 30px; margin-right: 30px;">
                SYSTEM REQUIREMENTS
            </div>
            <div style="width: 12px;">
            </div>
            <div>
                QUOTES
            </div>
            <div class="background6-line">
            </div>
        </div>
        <img src="home/img/facebook.svg" style="margin-top: 540px; margin-left: 1010px;">
        <img src="home/img/twitter.svg" style="margin-top: -50px; margin-left: 1055px;">
        <img src="home/img/Vector.svg" style="margin-top: -100px; margin-left: 1110px;">
        <img src="home/img/twitch.svg" style="margin-top: -150px; margin-left: 1170px;">
    </section>
</body>

</html>