<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suit</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/suit.js" async></script>
</head>

<body>
    <section id="top">
        <div
            style="display:flex; padding: 10px; font-size: 20px; font-weight: bold; margin-left: 170px; margin-top: 10px; color: #F9B23D;">
            <div class="box1">
                <div class="around2">
                    <div class="around1">
                        <img src="pict/batu.png"
                            style="position: absolute; width: 18px; height: 13px; margin-top: 25px; margin-left: 14px;">
                        <img src="pict/kertas.png"
                            style="position: absolute; width: 18px; height: 13px; margin-top: 8px; margin-left: 24px; transform: rotate(15deg);">
                        <img src="pict/gunting.png"
                            style="position: absolute; width: 18px; height: 13px; margin-top: 8px; margin-left: 4px; transform: rotate(-15deg);">
                    </div>
                </div>
            </div>
            <div class="suit">
                ROCK
            </div>
            <div style="width: 20px;">
            </div>
            <div>
                PAPER
            </div>
            <div style="width: 20px;">
            </div>
            <div>
                SCISSORS
            </div>
            <div
                style="font-size: 50px; color: saddlebrown; position: absolute; margin-left: -130px; margin-top: -12px; font-weight: bold;">
                &#60
            </div>
        </div>
    </section>
    <section id="text">
        <div
            style="color:black; font-size: 35px; font-weight: bold; display: flex; margin-top: 20px; margin-left: 270px;">
            <div class="player">
                PLAYER 1
            </div>
            <div style="width: 370px;">
            </div>
            <div>
                COM
            </div>
            <div id="hasil">
                VS
            </div>
        </div>
    </section>
    <section id="pict1">
        <img value="batu" onclick="runGame(this)" src="pict/batu.png" id="batu1"
            style="position: absolute; width: 100px; height: 80px; margin-top: 50px; margin-left: 300px;">
        <img value="kertas" onclick="runGame(this)" src="pict/kertas.png" id="kertas1"
            style="position: absolute; width: 100px; height: 80px; margin-top: 180px; margin-left: 300px;">
        <img value="gunting" onclick="runGame(this)" src="pict/gunting.png" id="gunting1"
            style="position: absolute; width: 100px; height: 80px; margin-top: 310px; margin-left: 300px;">
    </section>
    <section id="pict2">
        <div id="bg4">
        </div>
        <img src="pict/batu.png" id="batu2"
            style="position: absolute; width: 100px; height: 80px; margin-top: 50px; margin-left: 800px;">
        <div id="bg5">
        </div>
        <img src="pict/kertas.png" id="kertas2"
            style="position: absolute; width: 100px; height: 80px; margin-top: 180px; margin-left: 800px;">
        <div id="bg6">
        </div>
        <img src="pict/gunting.png" id="gunting2"
            style="position: absolute; width: 100px; height: 80px; margin-top: 310px; margin-left: 800px;">
        <img onclick="location.reload()" src="pict/refresh.png" id="refresh"
            style="position: absolute; width: 80px; height: 75px; margin-top: 380px; margin-left: 565px;">
    </section>

</body>

</html>