body,
html {
    margin: 0px;
}

#background1 {
    background: url("../img/main-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background1-text {
    position: absolute;
    font-size: 75px;
    margin-left: 190px;
    margin-top: 90px;
    color: whitesmoke;
}

.background1-text1 {
    position: absolute;
    font-size: 29px;
    margin-left: 400px;
    margin-top: 200px;
    color: whitesmoke;
}

.background1-text2 button {
    position: absolute;
    background-color: orange;
    width: 250px;
    height: 40px;
    font-weight: bold;
    margin-left: 510px;
    margin-top: 280px;
    border-radius: 4px;
}

.background1-text3 {
    position: absolute;
    color: whitesmoke;
    font-size: 12px;
    margin-left: 600px;
    margin-top: 500px;
}

#background2 {
    background: url("../img/the-games-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background2-text {
    position: absolute;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 220px;
}

.background2-text1 {
    position: absolute;
    color: whitesmoke;
    font-size: 50px;
    margin-top: 140px;
    margin-left: 220px;
}

#carousel-game {
    position: absolute;
    width: 70%;
    height: 250px;
    width: 625px;
    margin-left: 500px;
    margin-top: 150px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

#background3 {
    background: url("../img/features.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background3-circle {
    position: absolute;
    background-color: white;
    border: 4px solid white;
    border-radius: 100%;
    margin-top: 260px;
    margin-left: 720px;
    box-shadow: 0px 0px 0px 2px #e3e3e3;
}

.background3-line {
    height: 90px;
    position: absolute;
    border-left: 3px solid white;
    margin-left: 722.5px;
    margin-top: 269px;
}

.background3-circle1 {
    visibility: visible;
    position: absolute;
    border: 4px solid white;
    border-radius: 100%;
    margin-left: 720px;
    margin-top: 360px;
    box-shadow: 0px 0px 0px 2px #e3e3e3;
    opacity: 0.2;
}

.background3-circle2 {
    visibility: visible;
    position: absolute;
    border: 4px solid white;
    border-radius: 100%;
    margin-left: 720px;
    margin-top: 410px;
    box-shadow: 0px 0px 0px 2px #e3e3e3;
    opacity: 0.2;
}

.background3-text {
    position: absolute;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 100px;
    color: whitesmoke;
}

.background3-text1 {
    position: absolute;
    font-size: 50px;
    margin-left: 700px;
    margin-top: 120px;
    color: whitesmoke;
}

.background3-text2 {
    position: absolute;
    font-size: 20px;
    margin-left: 750px;
    margin-top: 250px;
    color: orange;
}

.background3-text3 {
    position: absolute;
    font-size: 12px;
    margin-left: 750px;
    margin-top: 290px;
    color: whitesmoke;
}

.background3-text4 {
    position: absolute;
    font-size: 12px;
    margin-left: 750px;
    margin-top: 302px;
    color: whitesmoke;
}

.background3-text5 {
    position: absolute;
    font-size: 20px;
    margin-left: 750px;
    margin-top: 350px;
    color: orange;
}

.background3-text6 {
    position: absolute;
    font-size: 20px;
    margin-left: 750px;
    margin-top: 400px;
    color: orange;
}

#background4 {
    background: url("../img/requirements.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background4-text {
    position: absolute;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 70px;
    color: whitesmoke;
}

.background4-text1 {
    position: absolute;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 130px;
    color: whitesmoke;
}

.background4-text2 {
    position: absolute;
    font-size: 14px;
    margin-left: 500px;
    margin-top: 90px;
    color: whitesmoke;
}

.container {
    position: absolute;
    margin-top: 250px;
    ;
}

#background5 {
    background: url("../img/top-score-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

.background5-text {
    position: absolute;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 190px;
    color: whitesmoke;
}

.background5-text1 {
    position: absolute;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 280px;
    color: whitesmoke;
}

.background5-text2 {
    position: absolute;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 300px;
    color: whitesmoke;
}

.background5-text3 button {
    position: absolute;
    font-size: 14px;
    color: black;
    background-color: orange;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    margin-left: 100px;
    margin-top: 360px;
}

.box1-background5 {
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: gray;
    margin-left: 700px;
    margin-top: 80px;
    border-radius: 10px;
}

.box2-background5 {
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: gray;
    margin-left: 600px;
    margin-top: 250px;
    border-radius: 10px;
}

.box3-background5 {
    position: absolute;
    width: 400px;
    height: 150px;
    background-color: gray;
    margin-left: 650px;
    margin-top: 420px;
    border-radius: 10px;
}

#background6 {
    background: url("../img/top-score-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    background-color: black;
}

.background6-text {
    position: absolute;
    font-size: 22px;
    margin-top: 80px;
    margin-left: 600px;
    color: whitesmoke;
}

.background6-text1 {
    position: absolute;
    font-size: 22px;
    margin-top: 105px;
    margin-left: 600px;
    color: whitesmoke;
}

.background6-text2 {
    position: absolute;
    font-size: 60px;
    margin-top: 125px;
    margin-left: 600px;
    color: whitesmoke;
}

.background6-text3 {
    position: absolute;
    font-size: 60px;
    margin-top: 180px;
    margin-left: 600px;
    color: whitesmoke;
}

.background6-text4 {
    position: absolute;
    font-size: 20px;
    margin-top: 270px;
    margin-left: 600px;
    color: whitesmoke;
}

.background6-button button {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    margin-left: 960px;
    margin-top: 370px;
    font-weight: bold;
}

.background6-text7 {
    position: absolute;
    font-size: 12px;
    margin-top: 600px;
    margin-left: 70px;
    color: whitesmoke;
}

.background6-line {
    position: absolute;
    width: 1125px;
    height: 1px;
    color: white;
    background-color: white;
    margin-top: 50px;
    margin-left: -240px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
        font-weight: bold;
    }
}